.heroimg {
  z-index: 0;
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.6;
}
.homelanding {
  z-index: 1;
  color: rgb(9, 56, 22);
  position: absolute;
  font-size: 45px;
  top: 40vh;
  left: 30vw;
  text-align: center;
  justify-content: center;
}
.section2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.aboutUs {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}
