.logomain {
  border-radius: 100px;
  width: 5%;
  height: 5%;
}
.logomain img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.setting {
  text-decoration: none;
  color: rgb(35, 34, 34);
}
